DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

METAKS_DB_HOST=localhost
METAKS_DB_PORT=5433
METAKS_DB_NAME=depo_sistemi
METAKS_DB_USER=depo_admin
METAKS_DB_PASSWORD=change-me

GORSEL_SUNUCU_BASE_URL=http://localhost:8083/urun-gorselleri/
